@import "tailwindcss";

:root {
  --brand-color-primary-pure: #f29849;
  --brand-color-primary-dark: #e28634;
  --brand-color-secondary-pure: #1d2f40;
  --brand-color-secondary-dark: #23384d;
  --neutral-white: #ffffff;
  --neutral-text: #444444;
  --neutral-details: #e7e7e7;
}

@theme inline {
  --color-brand-primary-pure: var(--brand-color-primary-pure);
  --color-brand-primary-dark: var(--brand-color-primary-dark);
  --color-brand-secondary-pure: var(--brand-color-secondary-pure);
  --color-brand-secondary-dark: var(--brand-color-secondary-dark);
  --color-neutral-white: var(--neutral-white);
  --color-neutral-text: var(--neutral-text);
  --color-neutral-details: var(--neutral-details);

  --font-body: var(--font-inter);
  --font-heading: var(--font-exo2);

  --shadow-elevation-2: 0px 0px 20px 0px rgba(132, 132, 132, 0.2);
}

body {
  font-family: var(--font-body), sans-serif;
  color: var(--neutral-text);
  background: var(--neutral-white);
}
